<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.login.mapper.CommodityCategoryPropertyGroupRelationshipMapper">
    <resultMap type="com.deepexi.login.domain.dto.CommodityCategoryPropertyGroupRelationshipDto" id="CommodityCategoryPropertyGroupRelationshipDtoResult">
        <result property="id" column="id" />
        <result property="tenantId" column="tenant_id" />
        <result property="appId" column="app_id" />
        <result property="propertyGroupId" column="property_group_id" />
        <result property="propertyId" column="property_id" />
        <result property="isRequired" column="is_required" />
        <result property="propertyTypes" column="property_types" />
        <result property="version" column="version" />
        <result property="remark" column="remark" />
        <result property="isDeleted" column="is_deleted" />
        <result property="createdBy" column="created_by" />
        <result property="createdTime" column="created_time" />
        <result property="updatedBy" column="updated_by" />
        <result property="updatedTime" column="updated_time" />
    </resultMap>
    <select id="findList" resultType="com.deepexi.login.domain.eo.CommodityCategoryPropertyGroupRelationship">
        SELECT * FROM commodity_category_property_group_relationship WHERE 1=1
    </select>

    <update id="deleteByIds">
        UPDATE commodity_category_property_group_relationship set dr=1 where id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>